[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.103"
uvicorn = "0.23"
requests = "2.31"
scrapy = "2.10"
pylint = "2.17"
sqlalchemy = "2.0"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.10"
