[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.103.1"
uvicorn = "0.23.2"
requests = "2.31.0"
scrapy = "2.10.1"
pylint = "2.17.5"

[dev-packages]

[requires]
python_version = "3.10"
